
body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.header {
  width: 100%;
min-height: 50vh;
background-color: #ddd;
background-image: url("./background.jpg");
background-size: cover;
background-position: center;
display: block;
}
.logo {
  text-align: center;
  color: #f0f0f0;
  font-size: 36px;
  padding-top: 12%;
}

.add_buddget_section {
  width: 400px;
  margin: auto;
  padding-top: 40px;
}

.container {
  margin-top: 40px;
}

.total_div {
  float: right;
  margin-top: 25px;
}
.my_budget_div {
  text-align: center;
  color: #fff;
  font-size: 28px;
}

.text {
    padding: 20px;
}
